<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <header>
        <nav> 
            <h1>Noty</h1>
            <a href="/frontend/index.html">Login</a>
        </nav>
    </header>

    <section class="form__section">
        <div class="form__container">
            <form action="">
                <label for="title"><strong>Title</strong></label>
                <input type="text" placeholder="Title">
                <label for="description"><strong>Description</strong></label>
                <textarea name="description" id="description" cols="50" rows="8"></textarea>
                <div class="form__container-add--buttons">
                    <input type="submit" value="Añadir">
                    <a href="/frontend/notes.html">Cancelar</a>
                </div>

            </form>
        </div>
    </section>

</body>
</html>