<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noty</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <header>
        <nav> 
            <h1>Noty</h1>
            <a href="/">Login</a>
        </nav>
    </header>

    <a href="/add-note" class="note_add-button">
        Añadir Nota
    </a>

    <section class="notes__section">


        <div class="note__container">
            <div class="note__title-container">
                <h3>Note Title</h3>
                <div class="note__delete-button">x</div>
            </div>
            <p>
                ... Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, deleniti rerum, optio esse illum cupiditate non ipsa maiores iusto facilis ad maxime dolor consequatur eos reiciendis molestiae, nisi quo placeat!
            </p>
        </div>
        <div class="note__container">
            <div class="note__title-container">
                <h3>Note Title</h3>
                <div class="note__delete-button">x</div>
            </div>
            <p>
                ... Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, deleniti rerum, optio esse illum cupiditate non ipsa maiores iusto facilis ad maxime dolor consequatur eos reiciendis molestiae, nisi quo placeat!
            </p>
        </div>
        <div class="note__container">
            <div class="note__title-container">
                <h3>Note Title</h3>
                <div class="note__delete-button">x</div>
            </div>
            <p>
                ... Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, deleniti rerum, optio esse illum cupiditate non ipsa maiores iusto facilis ad maxime dolor consequatur eos reiciendis molestiae, nisi quo placeat!
            </p>
        </div>

    </section>
    

</body>
</html>